{% extends 'base.html' %}

<body>
  {% block pagecontent %}
    <div class="card" >
        <div class="card-section">
            <form class="card-section-selection">
                <h4>RESERVAR CLASE</h4>
                <select class="card-section-selection-atributes">

                      {% for item in Materias %}
                          <option value="{{item.id_materia}}">{{item.nombre}}</option>
                      {% endfor %}
                </select>

                <div class="card-section-selection-profesor">
                    <p>Profesor</p>
                    <select class="card-section-selection-profesor-eleccion">
                      {% for item in Profesores %}
                          <option value="{{item.id_profesor}}">{{item.nombre}}</option>
                      {% endfor %}
                    </select>
                </div>

                <div class="card-section-selection-horarios">

                        <div class="card-section-selection-horarios-fecha">
                            <p><i class="zmdi zmdi-calendar-check"></i></p>
                            <p class="letra-fecha">Hora</p>
                            <input type="time">

                        </div>
                        <div class="card-section-selection-horarios-hora">

                            <p class="letra-diurno">Fecha</p>
                            <input type="date" >
                        </div>
                        <div class="card-section-selection-horarios-modalidad">
                            <p><i class = "zmdi zmdi-pin"> </i></p>
                            <p class="letra-modalidad">Distancia</p>

                        </div>

                </div>


                <input class="reservarcalse-boton" type="submit" name="reservarcalse-boton" value="RESERVAR TURNO">


            </form>
        </div>
    </div>
    {% endblock %}
</body>
