{% extends 'base.html' %}




<body>
  {% block pagecontent %}
    <div class="card" >
        <div class="card-section" ">
            <form class="card-section-selection">
                <h4>RESERVAR CLASE</h4>
                <select class="btn-danger opciones">
                      {% for item in Materias %}
                          <option value="{{item.id_materia}}">{{item.nombre}}</option>
                      {% endfor %}
                </select>


                    <div class="btn btn-success" style="width: 100%; margin-top: 5px">
                      <div style='color: black; font-size: 15px'><strong>Profesor</strong></div>
                      <select  style="width: 100%"  class="btn-success">
                        {% for item in Profesores %}
                            <option value="{{item.id_profesor}}">{{item.nombre}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="btn btn-success" style="width: 100%; margin-top: 5px">
                      <div style='color: black; font-size: 15px'><strong>Hora</strong></div>
                      <input type="time" name='hora' class="btn-success" style='text-align: center'>
                    </div>

                    <div class="btn btn-success" style="width: 100%; margin-top: 5px">
                      <div style='color: black; font-size: 15px'><strong>Fecha</strong></div>
                      <input type="date" name='fecha' class="btn-success" style='text-align: center'>
                    </div>





                <input class="btn btn-primary" type="submit" name="reservar" value="RESERVAR" style="margin-top: 5px">


            </form>
        </div>
    </div>
    {% endblock %}
</body>
